name: Release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4
      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true

  build-release:
    name: Build CO-RE Binary
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main
          
      - name: Install bpf-linker
        run: cargo binstall -y bpf-linker
          
      - name: Build x86_64-unknown-linux-musl
        run: |
          sudo apt-get update && sudo apt-get install -y musl-tools
          rustup target add x86_64-unknown-linux-musl
          cargo build --release --target x86_64-unknown-linux-musl
          
      - name: Archive artifacts
        run: |
          cd target/x86_64-unknown-linux-musl/release
          tar -czvf zerocopy-audit-linux-amd64.tar.gz zerocopy-audit
          
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: target/x86_64-unknown-linux-musl/release/zerocopy-audit-linux-amd64.tar.gz
